{{> header}}

<main class="pb-5">
  <h2 class="my-5 text-center">Credenciales incorrectas</h2>
  <p class="text-center">Los datos ingresados son incorrectos</p>
  {{> boton_volver}}
</main>

{{> footer}}
