{{>header}}

<main class="pb-5">
  <h2 class="my-5 text-center">Acceso Prohibido 🚫</h2>
  <p class="text-center">
    No tienes acceso a esta ruta debido a que tus credenciales de acceso son
    incorrectas
  </p>
  <img src="/images/prohibido.png" alt="prohibido" class="img_prohibido mb-3" />
  {{> boton_volver}}
</main>

{{>footer}}
